.m201905 .mainContents {
  background-color: #febca6;
}
.m201905 .mainContents h2 {
  color: #8db0fc;
  -webkit-text-stroke: 1px #34271c;
}
.m201905 .blogtitle {
  color: #8db0fc;
  -webkit-text-stroke: 1px #34271c;
  background: linear-gradient(#febca6, #ff9b7a);
  text-decoration-color: #42876f;
}

.m201905 .backPreparge {
  color: #8db0fc;
  -webkit-text-stroke: 1px #34271c;
  background: linear-gradient(#febca6, #ff9b7a);
  text-decoration-color: #42876f;
}
.m201905 .mDate {
  color: #f74e45;
}
.m201905 .document {
  color: #34271c;
}
