html,
body {
  background-color: #ff6b90;
}

.v_line_left {
  border-left: solid 1px black;
  border-right: solid 1px black;
  padding-left: 0px;
}

.border {
  border-bottom: solid 1px #000;
}

.mainContents {
  position: relative;
  margin: 20px;
  background-position: left bottom;
  background-repeat: no-repeat;
  background-color: #ffc8a4;
  font-weight: 700;
}
.mainContents h2 {
  position: relative;
  padding-left: 20px;
  /* color: #05accf;
  -webkit-text-stroke: 1px #a8344d; */
  color: #ff9256;
  -webkit-text-stroke: 1px #a8344d;
  font-size: 24px;
}
.m201906 ul {
  list-style: none;
  position: relative;
  top: 0px;
  left: 0px;
  font-size: 20px;
  padding-left: 50px;
}

.blogtitle {
  position: relative;
  /* color: #05accf;
  -webkit-text-stroke: 1px #a8344d;
  background: linear-gradient(#ffc8a4, #efceba);
  text-decoration-color: #aa3651; */
  color: #ff9256;
  -webkit-text-stroke: 1px #a8344d;
  background: linear-gradient(#ffc8a4, #ffb98a);
  text-decoration-color: #ff6b90;
  font-size: 24px;
  font-weight: 700;
}

.backPreparge {
  position: relative;
  font-size: 20px;
  margin-left: 20px;
  /* color: #05accf; */
  /* background: linear-gradient(#ffc8a4, #efceba); */
  /* text-decoration-color: #aa3651; */
  color: #ff9256;
  -webkit-text-stroke: 1px #a8344d;
  background: linear-gradient(#ffc8a4, #ffb98a);
  text-decoration-color: #ff6b90;
  font-weight: 700;
}
.mDate {
  position: relative;
  font-size: 15px;
  margin-top: 5px;
  margin-right: 20px;
  /* color: #ff9256;
  -webkit-text-stroke: 1px #ff9256; */
  color: #05accf;
  /* -webkit-text-stroke: 1px #a8344d; */
  float: right;
  font-weight: 400;
  /* background: linear-gradient(#ffc8a4, #fec954, #ffc8a4); */
}
.document {
  position: relative;
  margin-left: 50px;
  margin-right: 50px;
  /* color: #05accf;
  -webkit-text-stroke: 1px #a8344d; */
  color: #a8344d;
  font-weight: 700;
}
