html,
body {
  background-color: #62bd9e;
}

.v_line_left {
  border-left: solid 1px black;
  border-right: solid 1px black;
  padding-left: 0px;
}

.border {
  border-bottom: solid 1px #000;
}

.mainContents {
  position: relative;
  margin: 20px;
  background-position: left bottom;
  background-repeat: no-repeat;
  background-color: #febca6;
  font-weight: 700;
}
.mainContents h2 {
  position: relative;
  padding-left: 20px;
  color: #8db0fc;
  -webkit-text-stroke: 1px #34271c;
  font-size: 24px;
}
.m201905 ul {
  list-style: none;
  position: relative;
  top: 0px;
  left: 0px;
  font-size: 20px;
  padding-left: 50px;
}

.blogtitle {
  position: relative;
  color: #8db0fc;
  -webkit-text-stroke: 1px #34271c;
  background: linear-gradient(#febca6, #ff9b7a);
  text-decoration-color: #42876f;
  /* text-decoration-color: #62bd9e; */
  font-size: 24px;
  font-weight: 700;
}

.backPreparge {
  position: relative;
  font-size: 20px;
  margin-left: 20px;
  color: #8db0fc;
  -webkit-text-stroke: 1px #34271c;
  background: linear-gradient(#febca6, #ff9b7a);
  text-decoration-color: #42876f;
  /* text-decoration-color: #62bd9e; */
  font-weight: 700;
}
.mDate {
  position: relative;
  font-size: 15px;
  margin-top: 5px;
  margin-right: 20px;
  color: #f74e45;
  -webkit-text-stroke: 1px #f74e45;
  float: right;
  font-weight: 400;
  /* background: linear-gradient(#febca6, #ff9b7a, #febca6); */
}
.document {
  position: relative;
  margin-left: 50px;
  margin-right: 50px;
  /* color: #8db0fc;
  -webkit-text-stroke: 1px #34271c; */
  color: #34271c;
  font-weight: 700;
}
