.m202003 .mainContents {
  background-color: #fbd6c9;
}

.m202003 .mainContents h2 {
  color: #3189de;
  -webkit-text-stroke: 1px #5d72fd;
}

.m202003 .blogtitle {
  color: #3189de;
  -webkit-text-stroke: 1px #5d72fd;
  background: linear-gradient(#fbd6c9, #ffc3b3);
  text-decoration-color: #5d72fd;
}

.m202003 .backPreparge {
  color: #3189de;
  -webkit-text-stroke: 1px #5d72fd;
  background: linear-gradient(#fbd6c9, #ffc3b3);
  text-decoration-color: #5d72fd;
}
.m202003 .mDate {
  color: #ee6056;
  -webkit-text-stroke: 1px #ee6056;
}
.m202003 .document {
  color: #544221;
}
