html,
body {
  background-color: rgb(98, 140, 186);
}

.v_line_left {
  border-left: solid 1px black;
  border-right: solid 1px black;
  padding-left: 0px;
}

.border {
  border-bottom: solid 1px #000;
}

.mainContents {
  position: relative;
  margin: 20px;
  background-position: left bottom;
  background-repeat: no-repeat;
  background-color: rgb(243, 178, 172);
  font-weight: 700;
}
.mainContents h2 {
  position: relative;
  padding-left: 20px;
  color: rgb(164, 187, 214);
  -webkit-text-stroke: 1px rgb(54, 72, 94);
  font-size: 24px;
}
.tableOfContnts ul {
  list-style: none;
  position: relative;
  top: 0px;
  left: 0px;
  font-size: 20px;
  padding-left: 50px;
}
.tablelink {
  position: relative;
  color: rgb(164, 187, 214);
  -webkit-text-stroke: 1px rgb(54, 72, 94);
  background: linear-gradient(#f3b2ac, #ea7775);
  text-decoration-color: rgb(98, 140, 186);
  font-size: 24px;
  font-weight: 700;
}
