html,
body {
  background-color: rgb(98, 140, 186);
}

.v_line_left {
  border-left: solid 1px black;
  border-right: solid 1px black;
  padding-left: 0px;
}

.border {
  border-bottom: solid 1px #000;
}
.mborder {
  border-bottom: solid 1px #000;
}

.mainContents {
  position: relative;
  margin: 20px;
  background-position: left bottom;
  background-repeat: no-repeat;
  background-color: #fff;
  opacity: 0.9;
  font-weight: 700;
}
.mainContents h2 {
  position: relative;
  padding-left: 20px;
  color: rgb(164, 187, 214);
  -webkit-text-stroke: 1px rgb(54, 72, 94);
  font-size: 24px;
}

.mainContents ul {
  list-style: none;
  position: relative;
  font-size: 20px;
  padding-left: 40px;
  padding-right: 40px;
}

.blogtitle {
  position: relative;
  border-radius: 20px;
  font-size: 24px;
  font-weight: 700;
  padding: 10px;
  margin-top: 2px;
  margin-bottom: 2px;
}

#m202005 {
  background: #ffd956;
}

#m202005 a {
  margin-left: 10px;
  color: #3189de;
  -webkit-text-stroke: 1px #5d72fd;
  text-decoration-color: #265a8a;
}

#m202003 {
  background: #ff7163;
}

#m202003 a {
  margin-left: 10px;
  /* background-color: #ffc4b3; */
  /* background: linear-gradient(#ffc4b3, #ffab93); */
  color: #d6c3e5;
  -webkit-text-stroke: 1px #006898;
  text-decoration-color: #ff7163;
}

#m201906 {
  background: #ff6b90;
}

#m201906 a {
  margin-left: 10px;
  color: #05accf;
  -webkit-text-stroke: 1px #a8344d;
  text-decoration-color: #aa3651;
}

#m201905 {
  background: rgb(121, 187, 156);
}

#m201905 a {
  margin-left: 10px;
  color: #8db0fc;
  -webkit-text-stroke: 1px #34271c;
  text-decoration-color: #42876f;
}

.backPreparge {
  position: relative;
  font-size: 20px;
  margin-left: 20px;
  color: rgb(164, 187, 214);
  -webkit-text-stroke: 1px rgb(54, 72, 94);
  background: linear-gradient(#dde7e3, rgb(164, 187, 214));
  text-decoration-color: rgb(98, 140, 186);
  font-weight: 700;
}
