html,
body {
  background-color: rgb(236, 195, 229);
}
.border {
  border-bottom: solid 2px #fff;
}

.profile h2 {
  position: relative;
  top: 47px;
  left: 48px;
  color: #fff;
  font-size: 24px;
}
.profile {
  position: relative;
  height: 400px;
  margin-top: 10px;
  background-position: left bottom;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
}
.profile dl {
  position: absolute;
  color: #fff;
  top: 80px;
  right: 75px;
  width: 180px;
}

.profile dt {
  color: #fff;
  font-size: 16px;
}
.ul {
  list-style: none;
  position: relative;
  color: #fff;
  list-style-type: disc;
  top: 50px;
  left: 0px;
  padding: 0px;
  font-weight: 700;
}
.b1 ul {
  position: relative;
  color: #fff;
  list-style-type: disc;
  top: 75px;
  left: 0px;
  padding: 0px;
  font-weight: 700;
}
.p1 ul {
  list-style: none;
  position: relative;
  color: #fff;
  top: 180px;
  left: 48px;
  padding: 0px;
  font-size: 20px;
}
.t1 ul {
  list-style: none;
  position: relative;
  color: #fff;
  top: 0px;
  left: 48px;
  padding: 0px;
  font-size: 20px;
}

.p1 link li {
  list-style: none;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 24px;
  top: 0px;
  left: 30px;
  color: #fff;
  padding: 0px;
}
.b1 li {
  list-style: none;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 24px;
  top: 50px;
  left: 0px;
  color: #fff;
  padding: 0px;
}

.blogdate h5 {
  position: absolute;
  color: #fff;
  top: 40px;
  right: 10px;
  font-size: 12px;
}

.document {
  color: #fff;
  position: absolute;
  top: 4em;
  left: 48px;
  font-size: 22px;
  margin-block-start: 0px;
  margin-block-end: 0px;
}
.blogtitle {
  position: relative;
  top: 0px;
  left: 60px;
  color: #fff;
  font-size: 20px;
  max-width: 100;
}
.headline {
  top: 0px;
  height: 80%;
  background: #c596d5;
  padding: 0px;
}

.blog {
  position: relative;
  margin-top: 0px;
  left: 0px;
  height: 2000px;
  background-position: left bottom;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 12px;
}

.blog h2 {
  position: relative;
  top: 40px;
  left: 48px;
  color: #fff;
  font-size: 24px;
}
.snslink {
  position: relative;
  top: 0px;
  left: 0px;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}
.tablelink {
  position: relative;
  top: 100px;
  left: 10px;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
}
.title {
  position: relative;
  height: 20px;
  margin-top: 10px;
  background-position: left bottom;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
}
.spritborder {
  position: relative;
  border-bottom: solid 2px #fff;
  top: 30px;
}

.backprepargefromprofile {
  position: relative;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 16px;
  top: 5px;
  color: rgb(236, 195, 229);
  margin: 0px;
  margin-block-start: 0px;
  margin-block-end: 0px;
  padding: 0px;
  font-weight: 700;
}

.backprepargefromblogsummary {
  position: relative;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 16px;
  left: 60px;
  top: 20px;
  color: rgb(236, 195, 229);
  margin: 0px;
  margin-block-start: 0px;
  margin-block-end: 0px;
  padding: 0px;
  font-weight: 700;
}
.backpreparge {
  position: relative;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 16px;
  left: 0px;
  top: 20px;
  color: rgb(236, 195, 229);
  margin: 0px;
  margin-block-start: 0px;
  margin-block-end: 0px;
  padding: 0px;
  font-weight: 700;
}
.backprepargefromBLOG201905 {
  position: relative;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 16px;
  left: 60px;
  top: 20px;
  color: rgb(236, 195, 229);
  margin: 0px;
  margin-block-start: 0px;
  margin-block-end: 0px;
  padding: 0px;
  font-weight: 700;
}
.backprepargefromBLOG201906 {
  position: relative;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 16px;
  left: 60px;
  top: 90px;
  color: rgb(236, 195, 229);
  margin: 0px;
  margin-block-start: 0px;
  margin-block-end: 0px;
  padding: 0px;
  font-weight: 700;
}
